<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single Subject</title>
</head>
<body class="body" style="height:100%">
        <div class="indexdiv1" style="height: 20%;width: 100%;text-align:right">
            所在班级:{{ CLASS }}&nbsp;&nbsp;<a href="/PersonalInformation"title="PersonalInformation">{{ USERNAME }}</a>
            ，<a href="exit.html">退出登录</a>
        </div>
        <div class="indexdiv2" style="height: 20%;width: 100%;text-align: center;">
            <a href="/curriculum" style="text-decoration:none;">查看课程或章节&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="/examination" style="text-decoration:none;">进行考试&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a href="/record" style="text-decoration:none;">查看考试记录</a>
        </div>
        <div class="indexdiv3" style="height: 60%;width: 100%;text-align: center;"></br>
            {% for data in DATA %}</br>
            题目{{ data.6 }}：{{ data.0 }} </br>
                选项：A.{{ data.1 }}&nbsp;&nbsp;B.{{ data.2 }}&nbsp;&nbsp;C.{{ data.3 }}&nbsp;&nbsp;D.{{ data.4 }}&nbsp;&nbsp;</br>
            正确答案：{{ data.5 }}
                {% empty %}
                暂无试题
            {% endfor %}
        </div>
</body>
</html>